node_modules
bower_components
/web
/dist
src/js/libs
src/css/libs
/build
hybrid/platforms
hybrid/www/*

!hybrid/plugins
hybrid/plugins/*
!hybrid/plugins/fetch.json

nbproject/private

#awsmobilejs
awsmobilejs/.awsmobile/backend-build
awsmobilejs/\#current-backend-info